.mobile-filter {
  display: inline-flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  height: 40px;
  justify-content: space-between;
  z-index: 999;
  text-align: center;
}

.mobile-filter .sort,
.filter {
  width: calc(50% - 1px);
  padding: 5px;
  background: #00ced1;
  cursor: pointer;
}

.mobile-filter .material-icons {
  font-size: 30px;
  color: white;
}

.filter-container,
.sort-container {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100vw;
  z-index: 999;
  padding: 14px;
}

.filter-container {
  height: 100vh;
  overflow: scroll;
}

.filter-container i,
.sort-container i {
  float: right;
  margin-top: -6px;
  margin-right: -6px;
}

.filter-container section {
  margin-bottom: 8px;
  border-bottom: 2px solid lightgray;
  padding: 6px;
}

.filter-container .footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  text-align: center;
  background: white;

}

.filter-container .footer .apply,
.clear {
  width: 50%;
  padding: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.filter-container .footer .apply {
  background: #04b904;
}

.filter-container .footer .clear {
  background: orange;
}

.sort-container {
  height: 100%;
}

.sort-container.faded {
  background: #d3d3d3f0;
}

.sort-container div {
  position: absolute;
  bottom: 0;
  left: 0;
  /* height: 100%; */
  background: white;
  width: 100vw;
  padding: 16px;
}

.sort-container div p {
  font-weight: bold;
}

.sort-container div ul {
  margin: 0;
}

.sort-container div ul li {
  list-style-type: none;
  padding: 5px;
  margin: 2px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.filter-container section div .search-input{
  padding-left: 5px;
  height: 2em;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
}

.filter-container section div .search-input:focus{
 border: 1px solid #26a69a;
 box-shadow: unset !important;
}