<div class="mobile-filter">
  <div class="sort" (click)="sortContainer = true">
    <i class="material-icons">import_export</i>
  </div>
  <div class="filter" (click)="filterContainer = true">
    <i class="material-icons">list</i>
  </div>
</div>
<div class="sort-container faded" *ngIf="sortContainer">
  <div>
    <i class="material-icons" (click)="sortContainer = false">clear</i>
    <p>Sort By</p>
    <ul>
      <li (click)="changeOrderNow('price', 'asc') ; sortContainer = false">Price High to low</li>
      <li (click)="changeOrderNow('price','dsc') ; sortContainer = false">Price Low to High</li>
      <li (click)="changeOrderNow('rating', 'asc') ; sortContainer = false">Ratings</li>
      <li (click)="changeOrderNow('new', 'asc') ; sortContainer = false">New</li>
    </ul>
  </div>
</div>
<div class="filter-container" *ngIf="filterContainer">
  <i class="material-icons" (click)="filterContainer = false">clear</i>
  <section>
    <div class="row" style="margin: 0 !important">
      <h6 class="margin0 bold paddingBottom15">Price</h6>
      <div class="col" *ngIf="minPrice || maxPrice" style="float: right; padding-top: 9px;padding-right: 1px; ">
        <!-- <a class="waves-effect btn waves-light"
          style="height: 20px !important; line-height: 21.4px !important;font-size: 13px !important;"
          (click)="minMaxApply()">Apply</a> -->
      </div>
    </div>
    <div class="row price-sec" style="margin: 0;">
      <div class="col s6">
        <input class="search-input" [(ngModel)]="minPrice" onkeypress="return isNumberKey(event)" pattern="[0-9]+"
          placeholder="Min..">
      </div>
      <div class="col s6">
        <input class="search-input" [ngStyle]="dangerColor" [(ngModel)]="maxPrice"
          onkeypress="return isNumberKey(event)" pattern="[0-9]+" placeholder="Max..">
      </div>
    </div>
    <span *ngIf="rangeError" style="color: #f44336; text-transform: capitalize">thik se price dal budbak!</span>
  </section>
  <section style="padding-bottom: 5px;">
    <h6 class="margin0 bold paddingBottom15">Brands</h6>
    <p *ngFor="let brand of mobileBrand | unique : 'brand'" class="dark capitalize">
      <label>
        <input type="checkbox" class="filled-in" [(ngModel)]="brand.brandSelected" (change)="onBrandSelect()" />
        <span>{{brand.brand}}</span>
      </label>
    </p>
  </section>
  <section style="padding-bottom: 5px;">
    <h6 class="margin0 bold paddingBottom15">Ram</h6>
    <p *ngFor="let ram of mobileRam | unique : 'ram'" class="dark capitalize">
      <label>
        <input type="checkbox" class="filled-in" [(ngModel)]="ram.ramSelected" (change)="onRamSelect()" />
        <span>{{ram.ram}}GB</span>
      </label>
    </p>
  </section>
  <div class="footer">
    <div class="apply" (click)="filterContainer = false; minMaxApply()">
      <p>apply</p>
    </div>
    <div class="clear" (click)="functionToClear();">
      <p>clear</p>
    </div>
  </div>
</div>
