<div class="row" style="border-bottom: 1px solid lightgray">
    <div class="col s4 xl5 l5">Name</div>
    <div class="col s4 xl5 l5">Surname</div>
    <div class="col s2 xl1 l1">Edit</div>
    <div class="col s2 xl1 l1">Delete</div>
</div>
<div class="row" style="border-bottom: 1px solid lightgray">
    <div class="col s4 xl5 l5"></div>
    <div class="col s4 xl5 l5"></div>
    <div class="col s2 xl1 l1">
        <a class="waves-effect waves-light btn"> <i class="material-icons">create</i></a>
    </div>
    <div class="col s2 xl1 l1">
        <a class="waves-effect waves-light btn"> <i class="material-icons">delete</i></a>
    </div>
</div>