<div class="make-3D-space">
    <div class="product-card">
        <div class="product-front">
            <div class="shadow"></div>
            <app-img-view imgPath="{{ cardConfig.imgPath }}" imgClass="img" imgFor="product"></app-img-view>
            <div class="image_overlay"></div>
            <!-- <div class="view_details" id="{{ cardConfig.prodId }}">View details</div> -->
            <div class="stats">
                <div class="stats-container">
                    <span class="product_price">₹{{ cardConfig.price }}</span>
                    <span class="product_name text-uppercase">{{ cardConfig.brand + " " + cardConfig.modal }}</span>
                    <p style="padding-top: 0; margin-top: 0;" class="text-uppercase">{{ cardConfig.ram +"GB " + cardConfig.rom}}</p>
                    <div class="product-options">
                        <strong>{{ cardConfig.primaryCamera }} Font Camera</strong>
                        <span>{{ cardConfig.processar }} Processar</span>
                        <strong>COLORS</strong>
                        <div class="colors">
                            <div class="c-blue"><span></span></div>
                            <div class="c-red"><span></span></div>
                            <div class="c-white"><span></span></div>
                            <div class="c-green"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-back">
            <div class="shadow"></div>
            <div class="carousel">
                <ul>
                    <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large.png" alt="" /></li>
                    <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large2.png" alt="" /></li>
                    <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large3.png" alt="" /></li>
                </ul>
                <div class="arrows-perspective">
                    <div class="carouselPrev">
                        <div class="y"></div>
                        <div class="x"></div>
                    </div>
                    <div class="carouselNext">
                        <div class="y"></div>
                        <div class="x"></div>
                    </div>
                </div>
            </div>
            <div class="flip-back">
                <div class="cy"></div>
                <div class="cx"></div>
            </div>
        </div>
    </div>
</div>